body {
    padding: 0;
    margin: 0;
    background-color: #d7d2ca;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  
  /* Optional: Hide scrollbars on all elements */
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }